<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planner for U - 비밀번호 변경</title>
    <link th:href="@{/css/change_password.css}" rel="stylesheet">
    <script th:src="@{/js/change_password.js}" defer="defer"></script>
</head>
<body>
    <div class="password-change">
        <div class="mainlogo">
            <img alt="로고 이미지" src="/image/임시로고.png">
        </div>
        <form class="password-change-form" action="/api/pw/changePassword" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="email">이메일</label>
                <div class="email-check-group">
                    <input type="email" id="email" name="email" required placeholder="이메일을 입력하세요">
                    <button type="button" class="email-check-button">검색</button>
                </div>
            </div>
            <div class="form-group">
                <label for="new-password">새 비밀번호</label>
                <input type="password" id="new-password" name="newPassword" required placeholder="새 비밀번호를 입력하세요" disabled>
            </div>
            <div class="form-group">
                <label for="confirm-password">비밀번호 확인</label>
                <input type="password" id="confirm-password" name="confirmPassword" required placeholder="비밀번호를 다시 입력하세요" disabled>
            </div>
            <div class="button-group">
                <button type="submit" class="change-password-button" id="change-password-button" disabled>비밀번호 변경</button>
                <button type="button" class="cancel-button" onclick="window.location.href='/app/login'">취소</button>
            </div>
        </form>
    </div>
</body>
</html>
